{% load static %}
{% load embed_video_tags %}


<!DOCTYPE html>
<html lang="zxx">
<head>
	<title>UVXTS | Tattoo</title>
	<meta charset="UTF-8">
	<meta name="description" content="UVXTS | Tattoo">
	<meta name="keywords" content="tattoo, html">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- Stylesheets -->
	<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/slicknav.min.css' %}">

	<script type='text/javascript' src='https://platform-api.sharethis.com/js/sharethis.js#property=5f4286e129852b001978a2ee&product=sop' async='async'></script>


	 <div id="fb-root"></div>
  <script async defer src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.2"></script>


	<!-- Meta for sharing to Facebook -->
	<meta property="og:url"                content="{{ blog.get_absolute_url }}" />
	<meta property="og:type"               content="article" />
	<meta property="og:title"              content="{{ blog.title }}" />
	<meta property="og:description"        content="{{ blog.description }}" />
	<meta property="og:image"              content="{{ blog.image.url }}" />
	<!-- End Meta for sharing to Facebook -->
	<!-- Main Stylesheets
	<link rel="stylesheet" href="css/style.css"/> -->
	<link rel="stylesheet" href="{% static 'css/style.css' %}">


</head>
<body>
	<!-- Page Preloder -->
	<div id="preloder">
		<div class="loader"></div>
	</div>

	<!-- Header Section -->
	<header class="header">
		<div class="container-fluid">
			<div class="row">
				<div class="col-sm-4 col-md-3 order-2 order-sm-1">
					<div class="header__social">
						<img src="{% static 'img/logo_uvxts.png' %}" alt="" style="width:30%">

					</div>
				</div>


			<!-- Social Section -->
			{% include "./social.html" %}
			<!-- Social Section end -->



			</div>
			<nav class="main__menu">
				<ul class="nav__menu">
					<li><a href="{% url 'index' %}">Home</a></li>
					<li><a href="{% url 'about' %}"class="menu--active">About</a></li>
					<li><a href="{% url 'gallery' %}">Gallery</a></li>
					<li><a href="{% url 'blog' %}" >Blog</a>

					</li>
					<li><a href="./contact.html">Contact</a></li>
				</ul>
			</nav>
		</div>
	</header>
	<!-- Header Section end -->

	<!-- About Page -->
	<section class="about__page">
		<div class="container-fluid">
			<div class="row">

				<div class="col-lg-6">
					<div class="about__text">
						<!--<h3 class="about__title">Tattoo artist</h3>-->
						<div class="about__meta">
							<img src="{% static 'img/profile.jpg' %}" alt="">
							<div class="about__meta__info">
								<h5>Ugnė Vedeckytė</h5>
								<p>TATTOO ARTIST / PHOTOGRAPHER / DESIGNER</p>
							</div>

						</div>
						<p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit. Vivamus at nibh tincidunt, bibendum ligula id. Nemo enim ipsam voluptatem quiatotam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit.</p>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit equat incididunt ut labore et dolore magna aliqua.</p>
						<img src="{% static 'img/signature.png' %}" alt="">
					</div>
				</div>
				<div class="col-lg-1"> </div>
				<div class="col-lg-4">
					<div class="experience__text">
						<h6 style = color:#E23A2B >self destruction // self creation</h6> <br>

				{% for i in obj %}
				{% video i.video 'small' %}
				{% endfor %}


						<div class="about__meta__info">

						<!--	<p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit. Vivamus at nibh tincidunt, bibendum ligula id. Nemo enim ipsam voluptatem quiatotam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae.</p>
						-->
						</div>
					</div>
				</div>

				<div class="col-lg-1">
				</div>


			</div>
		</div>
	</section>


	<!-- About Page end -->



	<!-- Footer Section -->
	{% include "./footer.html" %}
	<!-- Footer Section end -->

	<!--====== Javascripts & Jquery ======-->
	<script src= "{% static 'js/vendor/jquery-3.2.1.min.js' %}"></script>
	<script src= "{% static 'js/jquery.slicknav.min.js' %}"></script>
	<script src= "{% static 'js/slick.min.js' %}"></script>
	<script src= "{% static 'js/fresco.min.js' %}"></script>
	<script src= "{% static 'js/main.js' %}"></script>