{% load static %}

	<!-- Footer Section -->
    <footer class="footer__section">
		<div class="container">
				<div class="footer__copyright__text">
				<p>Copyright &copy; <script>document.write(new Date().getFullYear());</script> All rights reserved |<i class="fa fa-suitcase" aria-hidden="true"></i> </p>
			</div>
			</div>
	</footer>
	<!-- Footer Section end -->

	<!--====== Javascripts & Jquery ======-->
	<script src= "{% static 'js/vendor/jquery-3.2.1.min.js' %}"></script>
	<script src= "{% static 'js/jquery.slicknav.min.js' %}"></script>
	<script src= "{% static 'js/slick.min.js' %}"></script>
	<script src= "{% static 'js/fresco.min.js' %}"></script>
	<script src= "{% static 'js/main.js' %}"></script>