{% load static %}






	<!-- About Page -->
	<div class="gallery__page">
		<div class="gallery__warp">
			<div class="row">
				{% for gallery in gallery %}
				<div class="col-lg-3 col-md-4 col-sm-6">
					<a class="gallery__item fresco" href="{{ gallery.image.url }}" data-fresco-group="gallery">
						<img src="{{ gallery.image.url }}" alt="">
					</a>
				</div>
				{% endfor %}
			</div>
		</div>
	</div>
	<!-- About Page end -->


	<!--====== Javascripts & Jquery ======-->
	<script src= "{% static 'js/vendor/jquery-3.2.1.min.js' %}"></script>
	<script src= "{% static 'js/jquery.slicknav.min.js' %}"></script>
	<script src= "{% static 'js/slick.min.js' %}"></script>
	<script src= "{% static 'js/fresco.min.js' %}"></script>
	<script src= "{% static 'js/main.js' %}"></script>
